@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

.banner-content {
    max-width: 1320px;
    border: 2px solid red;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/Banner-Image.png");
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content p,
h1 {
    color: white;
}

.banner-content p {
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1 {
    font-size: 62px;
    font-weight: 900;
    text-decoration: none;
}

.mainbody {
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.section-1 h1 {
    font-size: 65px;
    color: black;
}

.section-2 {
    background-image: url(../images/Rectangle-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

.section-3 {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    margin-top: 35px;
    height: 600px;
}

.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #eaa565;
    border-radius: 6px;
    /* width: 1068px; */
    height: 260px;
}

.section-5 h1 {
    color: black;
}

.section-6{
    
}